div {
    display: block;
}

.logo {
    max-width: 50vw;
    max-height: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
    color: #cfda49;
}

h1 {
    font-size: 3em;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.flex-item {
    order: 5;
    flex-wrap: wrap;
}