div {
    display: block;
}

.logo {
    max-width: 50vw;
    max-height: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
    color: #26367a;
}

h1 {
    font-size: 3em;
}

.advancedsearch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}